<app-slider></app-slider>
<section id="body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9">
        <!-- news-categorys -->
        <app-news-categorys></app-news-categorys>
        <!-- end news-categorys -->
        <!-- list-doctors -->
        <app-list-doctors></app-list-doctors>
        <!-- end list-doctors -->
        <!-- list-services -->
        <app-list-services></app-list-services>
        <!-- end list-services -->
      </div>
      <div class="col-12 col-lg-3">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>