{{ list_news | json }}
<div id="news-categorys">
  <div class="row">
    <div class="col-12">
        <h1>Tin tức</h1>
    </div>
    <div class="col-12 col-md-6 col-xl-4 news-category wow flipInX">
      <div class="title">
        <span class="text-title">
          kiếm thức nhà khoa tổng hợp
        </span>
      </div>
      <div class="content">
        <div class="item-first">
          <figure class="wrap-img">
              <a href="">
                <img src="assets/img/news1.jpg" alt="" width="100%">
              </a>
          </figure>
          <ng-container *ngFor="let news of list_news">
            <div class="hihi">
              {{ news.id }}
            </div>
          </ng-container>
          <div class="title-item-first">
            <a href="http://">
              Trồng răng implant và trồng răng sứ có gì khác nhau
            </a>
          </div>
          <div class="content-item-first">
            Trồng răng implant và trông răng sứ đều là những giải pháp phục hồi lại răng đã mất được nhiều người ưa chuộng hiện nay. Hôm nay hãy cùng nha khoa Nhân Tâm tìm hiểu sự khác...
          </div>
        </div>
        <div class="item">
          <div class="item-title">
            <a href="http://">
            Thời gian làm mặt dán sứ Veneer mất bao lâu
          </a>
          </div>
        </div>
        <div class="item">
          <div class="item-title">
            <a href="http://">
              Thời gian làm mặt dán sứ Veneer mất bao lâu
            </a>
          </div>
        </div>
        <div class="item">
          <div class="item-title">
            <a href="http://">
              Thời gian làm mặt dán sứ Veneer mất bao lâu
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4 news-category wow flipInX">
        <div class="title">
          <span class="text-title">
            kiếm thức nhà khoa tổng hợp
          </span>
        </div>
        <div class="content">
          <div class="item-first">
            <figure class="wrap-img">
                <a href="">
                  <img src="assets/img/news2.jpg" alt="" width="100%">
                </a>
            </figure> 
            <div class="title-item-first">
              <a href="http://">
                Trồng răng implant và trồng răng sứ có gì khác nhau
              </a>
            </div>
            <div class="content-item-first">
              Trồng răng implant và trông răng sứ đều là những giải pháp phục hồi lại răng đã mất được nhiều người ưa chuộng hiện nay. Hôm nay hãy cùng nha khoa Nhân Tâm tìm hiểu sự khác...
            </div>
          </div>
          <div class="item">
            <div class="item-title">
              <a href="http://">
              Thời gian làm mặt dán sứ Veneer mất bao lâu
            </a>
            </div>
          </div>
          <div class="item">
            <div class="item-title">
              <a href="http://">
                Thời gian làm mặt dán sứ Veneer mất bao lâu
              </a>
            </div>
          </div>
          <div class="item">
            <div class="item-title">
              <a href="http://">
                Thời gian làm mặt dán sứ Veneer mất bao lâu
              </a>
            </div>
          </div>
          <div class="item">
              <div class="item-title">
                <a href="http://">
                  Thời gian làm mặt dán sứ Veneer mất bao lâu
                </a>
              </div>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 news-category wow flipInX">
          <div class="title">
            <span class="text-title">
              kiếm thức nhà khoa tổng hợp
            </span>
          </div>
          <div class="content">
            <div class="item-first">
              <figure class="wrap-img">
                  <a href="">
                    <img src="assets/img/news3.jpg" alt="" width="100%">
                  </a>
              </figure> 
              <div class="title-item-first">
                <a href="http://">
                  Trồng răng implant và trồng răng sứ có gì khác nhau
                </a>
              </div>
              <div class="content-item-first">
                Trồng răng implant và trông răng sứ đều là những giải pháp phục hồi lại răng đã mất được nhiều người ưa chuộng hiện nay. Hôm nay hãy cùng nha khoa Nhân Tâm tìm hiểu sự khác...
              </div>
            </div>
            <div class="item">
              <div class="item-title">
                <a href="http://">
                Thời gian làm mặt dán sứ Veneer mất bao lâu
              </a>
              </div>
            </div>
            <div class="item">
              <div class="item-title">
                <a href="http://">
                  Thời gian làm mặt dán sứ Veneer mất bao lâu
                </a>
              </div>
            </div>
            <div class="item">
              <div class="item-title">
                <a href="http://">
                  Thời gian làm mặt dán sứ Veneer mất bao lâu
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 news-category wow flipInX">
            <div class="title">
              <span class="text-title">
                kiếm thức nhà khoa tổng hợp
              </span>
            </div>
            <div class="content">
              <div class="item-first">
                <figure class="wrap-img">
                    <a href="">
                      <img src="assets/img/news4.jpg" alt="" width="100%">
                    </a>
                </figure> 
                <div class="title-item-first">
                  <a href="http://">
                    Trồng răng implant và trồng răng sứ có gì khác nhau
                  </a>
                </div>
                <div class="content-item-first">
                  Trồng răng implant và trông răng sứ đều là những giải pháp phục hồi lại răng đã mất được nhiều người ưa chuộng hiện nay. Hôm nay hãy cùng nha khoa Nhân Tâm tìm hiểu sự khác...
                </div>
              </div>
              <div class="item">
                <div class="item-title">
                  <a href="http://">
                  Thời gian làm mặt dán sứ Veneer mất bao lâu
                </a>
                </div>
              </div>
              <div class="item">
                <div class="item-title">
                  <a href="http://">
                    Thời gian làm mặt dán sứ Veneer mất bao lâu
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="item-title">
                  <a href="http://">
                    Thời gian làm mặt dán sứ Veneer mất bao lâu
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-4 news-category wow flipInX">
              <div class="title">
                <span class="text-title">
                  kiếm thức nhà khoa tổng hợp
                </span>
              </div>
              <div class="content">
                <div class="item-first">
                  <figure class="wrap-img">
                      <a href="">
                        <img src="assets/img/news5.jpg" alt="" width="100%">
                      </a>
                  </figure> 
                  <div class="title-item-first">
                    <a href="http://">
                      Trồng răng implant và trồng răng sứ có gì khác nhau
                    </a>
                  </div>
                  <div class="content-item-first">
                    Trồng răng implant và trông răng sứ đều là những giải pháp phục hồi lại răng đã mất được nhiều người ưa chuộng hiện nay. Hôm nay hãy cùng nha khoa Nhân Tâm tìm hiểu sự khác...
                  </div>
                </div>
                <div class="item">
                  <div class="item-title">
                    <a href="http://">
                    Thời gian làm mặt dán sứ Veneer mất bao lâu
                  </a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-title">
                    <a href="http://">
                      Thời gian làm mặt dán sứ Veneer mất bao lâu
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="item-title">
                    <a href="http://">
                      Thời gian làm mặt dán sứ Veneer mất bao lâu
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 news-category wow flipInX">
                <div class="title">
                  <span class="text-title">
                    kiếm thức nhà khoa tổng hợp
                  </span>
                </div>
                <div class="content">
                  <div class="item-first">
                    <figure class="wrap-img">
                        <a href="">
                          <img src="assets/img/news6.jpg" alt="" width="100%">
                        </a>
                    </figure> 
                    <div class="title-item-first">
                      <a href="http://">
                        Trồng răng implant và trồng răng sứ có gì khác nhau
                      </a>
                    </div>
                    <div class="content-item-first">
                      Trồng răng implant và trông răng sứ đều là những giải pháp phục hồi lại răng đã mất được nhiều người ưa chuộng hiện nay. Hôm nay hãy cùng nha khoa Nhân Tâm tìm hiểu sự khác...
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-title">
                      <a href="http://">
                      Thời gian làm mặt dán sứ Veneer mất bao lâu
                    </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-title">
                      <a href="http://">
                        Thời gian làm mặt dán sứ Veneer mất bao lâu
                      </a>
                    </div>
                  </div>
                  <div class="item">
                    <div class="item-title">
                      <a href="http://">
                        Thời gian làm mặt dán sứ Veneer mất bao lâu
                      </a>
                    </div>
                  </div>
                </div>
              </div>
  </div>
</div>
